﻿@model IEnumerable<mvcbd.Models.cargo>

@{
    ViewBag.Title = "ListadoMaestraCargos";
}

<h2>ListadoMaestraCargos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.car_cog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_des)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.car_cog)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.car_des)*@
            @Html.ActionLink(item.car_des, "UsuarioxCargo", new { cargo=item.car_des})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
