﻿@model mvcbd.Models.cargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>cargo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.car_cog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.car_cog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.car_des)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.car_des)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
