﻿@model IEnumerable<mvcbd.Models.cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.car_cog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_des)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.car_cog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_des)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.car_cog  }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.car_cog  }) |
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.car_cog  })
        </td>
    </tr>
}

</table>
