﻿@model mvcbd.Models.usuario

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.usu_cod)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usu_cod)
            @Html.ValidationMessageFor(model => model.usu_cod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usu_nom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usu_nom)
            @Html.ValidationMessageFor(model => model.usu_nom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.car_cod, "cargo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("car_cod", String.Empty)
            @Html.ValidationMessageFor(model => model.car_cod)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
