﻿@model IEnumerable<mvcbd.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.usu_cod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usu_nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo.car_des)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usu_cod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usu_nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo.car_des)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.usu_cod }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.usu_cod  }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.usu_cod  })
        </td>
    </tr>
}

</table>
